$base-url: 'https://andriana1112.github.io/phone-catalog_react';

@font-face {
  font-family: Mont, sans-serif;
  src: url('#{$base-url}/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Mont, sans-serif;
  src: url('#{$base-url}/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Mont, sans-serif;
  src: url('#{$base-url}/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
